.app {
  background-color: #282c34;
}
.material-symbols-outlined {
  color: #61dafb;
  cursor: pointer;
}

.expanded {
  transform: rotate(90deg);
  transition: transform 100ms;
}

.collapsed {
  transition: transform 100ms;
}