.app {
  background-color: #282c34;
  color: #ffffff;
}

.material-symbols-outlined {
  color: #61dafb;
  cursor: pointer;
}

.expanded {
  transform: rotate(90deg);
  transition: transform 100ms;
}

.collapsed {
  transition: transform 100ms;
}

.node-block {
  padding-left: 24px;
}

.preview-block {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.node {
  padding: 4px 0 4px 24px;
  border-left: 1px dotted #666666;
}

.closing-bracket {
  padding-left: 24px;
}

.input-wrapper {
  padding: 8px;
}

.input-error {
  color: red;
  font-size: 1rem;
  padding: 8px;
}

button {
  padding: 8px 16px;
  background-color: #61dafb;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-weight: 800;
  font-size: 1rem;
  margin-left: 8px;
  cursor: pointer;
}

input {
  background-color: #282c34;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  min-width: 400px;
}
