.app {
  background-color: #282c34;
  color: #ffffff;
}
.material-symbols-outlined {
  color: #61dafb;
  cursor: pointer;
}

.expanded {
  transform: rotate(90deg);
  transition: transform 100ms;
}

.collapsed {
  transition: transform 100ms;
}

.node-block {
  padding-left: 24px;
}

.preview-block {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.node {
  padding: 4px 0;
}